body{
    position: absolute;
    left: 10%;
    padding: 0;
    margin: 0;
    background: #f0f0f0;
}

* {
    box-sizing: border-box;
}

:root{
    --border-radius-value: 10px;
    --box-shadow-value: 0px 5px 15px rgba(0, 0, 0, 0.2);

    --light-grey: #c0c0c0;
    --green: #3caf50;
}

.card {
    background: #fea176;
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius-value);
    cursor: pointer;
    box-shadow: var(--box-shadow-value);
    transition: all .6s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.span{
    transform: rotateY(-180deg);
}

.card.flipped {
    background: #fff;
    transform: rotateY(180deg);
}

.card.matched{
    background-color: var(--green);
    cursor: default;
}

.controls{
    border-radius: var(--border-radius-value);
    box-shadow: var(--box-shadow-value);
    width: 80dvw;
    padding: 20px;
    border: 1px solid var(--light-grey);
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.controls .button-success{
    margin: auto;

}


label{
    font-size: 18px;
    margin-right: 5px;
}

input{
    width: 100px;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid var(--light-grey);
    margin-right: 40px;
}

.button-success{
    background: var(--green);
    cursor: pointer;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    transition: all .3s;
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius-value);
}

.button-success:hover{
    background: #3b8c3f;
}

.board{
    display: grid;
    gap: 10px;
}